name: Check Docker Hub Connection

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  check-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Verify image exists
        run: |
          docker pull daygo555/device-os-libs:v1.0
          echo "✅ Образ успешно доступен!"